<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<h2 mat-dialog-title>Clipboard History</h2>
<mat-dialog-content class="mat-typography">
  <mat-list id="history">
    <mat-list-item *ngFor="let history of clipboardHistory"
                   (click)="copyToClipboard(history.content)">
      <div class="history-row" matListItemTitle>{{history.content}}</div>
      <div matListItemLine style="font-size: small;color: bisque;text-align: end">{{history.time_passed}}</div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
