main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  max-width: 40em;
  margin: 15px auto;
}

#buttons-div {
  display: flex;
  gap: 10px;
}

#history{
  max-width: 80vw;
}

.history-row {
  cursor: pointer;
}
