<main>

  <mat-expansion-panel (opened)="loadHistory()" (closed)="closeHistory()">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="!showingHistory">
        Clipboard History
      </mat-panel-title>
      <mat-panel-title *ngIf="showingHistory">
        Click to copy
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list id="history">
      <mat-list-item *ngFor="let history of clipboardHistory"
                     (click)="copyToClipboard(history.content)">
        <div class="history-row" matListItemTitle>{{history.content}}</div>
        <div matListItemLine style="font-size: x-small;color: bisque;text-align: end">{{history.time_passed}}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <div style="height: 20px"></div>

  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Clipboard</mat-label>
    <textarea matInput [ngModel]="textAreaContent" [cdkTextareaAutosize]="true"
              (input)="changeContent($event)" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <div *ngIf="contentChanged" style="margin-bottom: 15px">
    <button mat-raised-button color="warn" (click)="uploadNewContent()">Save</button>
  </div>

  <div id="buttons-div">
    <button mat-fab color="warn" (click)="copyToClipboard(textAreaContent)">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="cut()">
      <mat-icon>content_cut</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="paste()">
      <mat-icon>content_paste</mat-icon>
    </button>
  </div>

</main>
