<main>
  <mat-progress-bar mode="indeterminate" *ngIf="!finishedLoading"></mat-progress-bar>
  <mat-selection-list #fileList [(ngModel)]="selectedOptions"
                      (selectionChange)="onFileListSelectionChange(fileList.selectedOptions.selected)">
    <mat-list-option *ngFor="let file of files"
                     [value]="file.file_id">
      <mat-icon matListItemIcon>{{fileIcon(file.file_name)}}</mat-icon>
      <div matListItemTitle>{{file.file_name}}</div>
      <div matListItemLine>{{file.time_passed}}</div>
    </mat-list-option>
  </mat-selection-list>

  <ng-container *ngIf="selectedFileIds.length > 0">
    <button id="delete-button" mat-raised-button color="accent" (click)="deleteAll()">Delete</button>
    <button id="download-button" mat-raised-button color="warn" (click)="downloadAll()">Download</button>
  </ng-container>

  <button *ngIf="selectedFileIds.length == 0" id="upload-button" mat-fab color="primary" (click)="fileInput.click()">
    <mat-icon>upload</mat-icon>
  </button>
  <button *ngIf="selectedFileIds.length == 0" id="reload-button" mat-fab color="warn" (click)="triggerReloadEvent()">
    <mat-icon>refresh</mat-icon>
  </button>
  <input hidden type="file" multiple #fileInput (change)="onFileToUploadSelected($event)"/>
</main>
