main{

}

#top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#download-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#upload-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  /*transform: translate(-50%, 0);*/
}
